@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,200;1,400&family=Oswald:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  height: 100vh;
}

body {
  background: #e5e2e2;
  font-size: 18px;
}

a {
  color: rgb(249, 249, 249);
  font-weight: bold;
  text-shadow: 1px 1px 1px black, 1px 1px 5px black, 1px -1px 5px black;
}

header {
  font-family: "Exo", sans-serif;
  font-family: "Oswald", sans-serif;
  background: url("../images/back1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  border-bottom: 15px solid 1px;
  height: 100%;
}
header nav {
  display: grid;
  grid-template-columns: 350px 1fr;
  background: rgba(0, 0, 0, 0.4);
  padding: 5px 20px;
  border-bottom: 1px solid rgb(239, 237, 255);
}
header nav ul {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}
header nav ul li {
  margin-right: 20px;
}
header section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px;
}
header section blockquote {
  color: #F9F9F9;
  text-shadow: 1px 1px 1px black, 1px 1px 5px black, 1px -1px 5px black;
  font-size: 1.5em;
}
header section blockquote h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
header section blockquote p {
  display: flex;
  justify-content: center;
  align-items: center;
}

main blockquote {
  display: grid;
  grid-column: 1/3;
  grid-row: 1;
  justify-content: center;
}
main blockquote h1 {
  text-align: center;
  justify-content: center;
  color: rgb(90, 87, 87);
}
main blockquote p.descripcion {
  display: block;
  text-align: center;
  width: 900px;
  margin: 10px auto;
  padding: 5px;
  font-size: 1em;
}
main section.caracteristicas {
  margin: 5px 150px 40px 150px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
main section.caracteristicas .torneos {
  background: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin: 50px 20px 5px 20px;
  padding: 5px;
  text-align: center;
  float: left;
}
main section.caracteristicas .torneos h2 {
  color: rgb(90, 87, 87);
}
main section.caracteristicas .torneos p {
  font-size: 0.9em;
}
main section.caracteristicas .reserva {
  background: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin: 50px 20px 5px 20px;
  padding: 5px;
  text-align: center;
  float: left;
}
main section.caracteristicas .reserva h2 {
  color: rgb(90, 87, 87);
}
main section.caracteristicas .reserva p {
  font-size: 0.9em;
}
main section.caracteristicas .pago {
  background: rgb(255, 255, 255);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin: 50px 20px 5px 20px;
  padding: 5px;
  text-align: center;
  float: left;
}
main section.caracteristicas .pago h2 {
  color: rgb(90, 87, 87);
}
main section.caracteristicas .pago p {
  font-size: 0.9em;
}
main section.caracteristicas .precio {
  background: rgb(255, 255, 255);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin: 50px 20px 5px 20px;
  padding: 5px;
  text-align: center;
  color: black;
  float: left;
}
main section.caracteristicas .precio h2 {
  color: rgb(90, 87, 87);
}
main section.caracteristicas .precio p {
  font-size: 0.9em;
}
main blockquote {
  display: block;
  text-align: center;
  width: 900px;
  margin: 10px auto;
  padding: 5px;
  font-size: 1em;
}
main section.stakeholders {
  background: rgba(255, 255, 255, 0.4);
  margin: 0px 0px 0px 0px;
  padding: 20px;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  display: grid;
  justify-content: center;
  align-items: center;
}
main section.stakeholders .StakeHolderBq {
  grid-column: 1/span 3;
}
main section.stakeholders .Morumbi {
  position: relative;
  display: inline-block;
  text-align: center;
}
main section.stakeholders .Morumbi h2 {
  color: white;
  text-shadow: 1px 1px 1px black, 1px 1px 5px black, 1px -1px 5px black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main section.stakeholders .morumbiimg {
  border-radius: 150px;
}
main section.stakeholders .Atenas {
  position: relative;
  display: inline-block;
  text-align: center;
}
main section.stakeholders .Atenas h2 {
  color: white;
  text-shadow: 1px 1px 1px black, 1px 1px 5px black, 1px -1px 5px black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main section.stakeholders .atenasimg {
  border-radius: 150px;
}
main section.stakeholders .Bombonera {
  position: relative;
  display: inline-block;
  text-align: center;
}
main section.stakeholders .Bombonera h2 {
  color: white;
  text-shadow: 1px 1px 1px black, 1px 1px 5px black, 1px -1px 5px black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main section.stakeholders .bomboneraimg {
  border-radius: 150px;
}
main section.contactos {
  background: #171616;
  height: 250px;
  padding: 30px;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  font-size: 1em;
}
main section.contactos .ContactosBq {
  grid-column: 1/span 3;
  color: white;
}
main section.contactos .ContactosBq .h1Blocq {
  color: white;
  font-size: 2.2em;
}
main section.contactos .direccion {
  padding: 5px;
  text-align: center;
  color: white;
}
main section.contactos .telefonos {
  padding: 5px;
  text-align: center;
  color: white;
}
main section.contactos .email {
  padding: 5px;
  text-align: center;
  color: white;
}

footer {
  background: #b2bfae;
  border-top: 10px solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: white;
  font-weight: normal;
}
footer a {
  color: black;
  text-shadow: 1px 1px 1px black;
  font-weight: normal;
}
footer p {
  color: black;
}

@media screen and (max-width: 990px) {
  body {
    background: #f1f1f2;
  }
  header {
    background: url("../images/back1.jpg");
    background-size: cover;
  }
  header nav {
    grid-template-columns: 20px 1fr;
  }
  header nav #logo {
    display: none;
  }
  header section blockquote {
    text-align: center;
  }
  main section.caracteristicas {
    grid-template-columns: 1fr;
    justify-content: center;
  }
  main section.caracteristicas .caracteristicasblq {
    grid-column: 1/span 1;
  }
  main section.stakeholders {
    grid-template-columns: 1fr;
    justify-content: center;
  }
  main section.stakeholders .StakeHolderBq {
    grid-column: 1/span 1;
  }
  main section.contactos {
    padding: 20px 0px 80px 0px;
    grid-template-columns: 1fr;
    justify-content: center;
  }
  main section.contactos .ContactosBq {
    grid-column: 1/span 1;
  }
  main blockquote {
    max-width: 400px;
    color: #5c4c40;
    text-align: center;
  }
  main blockquote p {
    max-width: 400px;
    color: #5c4c40;
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  body {
    background: #f1f1f2;
  }
  header {
    background: url("../images/back1.jpg");
    background-size: cover;
  }
  header nav {
    grid-template-columns: 20px 1fr;
  }
  header nav #logo {
    display: none;
  }
  header section blockquote {
    text-align: center;
  }
  main section.caracteristicas {
    grid-template-columns: 1fr;
    justify-content: center;
  }
  main section.stakeholders {
    grid-template-columns: 1fr;
    justify-content: center;
  }
  main section.stakeholders .StakeHolderBq {
    grid-column: 1/span 1;
  }
  main section.contactos {
    padding: 20px 0px 80px 0px;
    grid-template-columns: 1fr;
    justify-content: center;
  }
  main section.contactos .ContactosBq {
    grid-column: 1/span 1;
  }
  main blockquote {
    max-width: 400px;
    color: #5c4c40;
    text-align: center;
  }
  main blockquote p {
    max-width: 400px;
    color: #5c4c40;
    text-align: center;
  }
}
@media screen and (min-width: 600px) {
  body #logo-mini {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */